*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

/* NavBar */
#homepagenav
{
    padding: 2% 5%;
    /* background-color:#439899; */
    background-color: #FFF;
}
.logo
{
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
}

.img-logo
{
    width: 20%;
    height: auto;
}

/* BMI Page */
#bmi-container
{
    background-color: #509492;
    padding: 8% 5%;
    
}

.bmitext-container
{
    padding: 2% 0;
    color: #FFF;
}

.bmitext-container h4
{
    color: #143787;
    font-weight: bold;
}

.bmitext-container p
{
    line-height: 1.5rem;
    width: 80%;
}

.input-container
{
    text-align: center;
    background-color: #F5F5F5;
    padding: 5% 10%;
    
}

.bmi-question
{
    margin: 1.5rem;
}

.units, .unit, .bmi-question
{
    color: #143787;
    font-weight: bold;
}

.input-container input
{
    border: 1px solid #f5f5f5;
    font-size: 1.5rem;
    min-width: 30%;
    outline: none;
    text-align: center;
}

.weighing-img
{
    width: 30%;
}

.input-container button
{
    border: none;
    background-color: #d90928;
    padding: 2%;
    width: 30%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #FFF;
    cursor: pointer;
}

.input-container button:hover
{
    color: black;
    transition: 0.5s;
}

.bmioutput
{
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.bmiheader
{
    margin: 1rem;
    color: #EE9033;
}

.greenbmiheader
{
    margin: 1rem;
    color: green;
}

.yellowbmiheader
{
    margin: 1rem;
    color: #EFE850;
}

.redbmiheader
{
    margin: 1rem;
    color: red;
}
.bmiwarning
{
    margin: 1rem 0;
    color: red;
}

/* Footer Section */
#footer
{
    /* background-color: #509492; */
    background-color: #FFF;
    text-align: center;
    padding: 3%;
}

.foot
{
    margin-bottom: 4rem;
}
.foot h5
{
    font-weight: bold;
}

.foot li
{
    list-style: none;
    padding: 0.2rem 0;
}

.foot a
{
    color: black;
    text-decoration: none;
}

.logos
{
    margin-top: 1rem;
}

.fab
{
    padding: 0.5rem;
}

.fab:hover
{
    transition: 0.5s;
    color: black;
    transform: scale(1.2);
}

.foot p
{
    margin: 0;
}

@media (max-width:1028px)
{
    .img-logo
    {
        width: 40%;
    }

    .input-container
    {
        margin: 1rem 0 3rem 0;
    }
    
}